<!DOCTYPE html>
<html lang="pl">
<div th:replace="fragments/head :: head"></div>
  <body>
  <header>
  <div th:replace="fragments/form-header :: form-header"></div>
      <div class="slogan container container--90">
          <h2>
            Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
            informacje o odbiorze.
          </h2>
      </div>
    </header>
  <div th:replace="fragments/form-footer :: form-footer"></div>
  <script th:src="@{../static/js/app.js}"></script>
  </body>
</html>
